html {
    scroll-behavior: smooth;
}

body {
    padding-top: 60px; /* Adjust this value based on the actual height of your navbar */
}

#menu {
    position: fixed;
    top: 0; /* Ensures the menu is always at the top of the page */
    width: 100%;
    background: red; /* Changes the background to red */
    color: white; /* Changes the text color to white */
    text-align: center; /* Centers the links */
    padding: 10px 0; /* Adds padding to the top and bottom for better spacing */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Optional: adds a shadow for better visibility */
    z-index: 1000; /* Ensures the menu stays on top of other content */
}


#menu li {
    display: inline;
    margin-right: 20px;
}

#menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#menu a:hover {
    text-decoration: underline;
}

.section {
    padding: 20px;
}

.about-content {
    overflow: hidden;
}

.about-content img {
    float: left;
    margin-right: 20px;
    width: 200px;
    height: auto;
}

.about-content p {
    margin-left: 220px;
}

.friends-tell {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.friend img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

.friend {
    text-align: center;
    width: 33%;
}

.friend p {
    margin-left: 0;
}

#scroll-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1001;
}

#scroll-top a {
    display: inline-block;
    background: #000; /* Circle color */
    color: #fff; /* Arrow color */
    border-radius: 50%; /* Circle shape */
    padding: 10px;
    text-decoration: none;
}

#scroll-top svg {
    fill: currentColor;
}